.custom-button {
  width: 100%;
  height: 60px;
  background-color: aliceblue!important;
  color: #3f8ec7!important;
}

.custom-button:hover {
  width: 100%;
  height: 60px;
  background: #d0e6f9!important;
  color: #3f8ec7!important;
}

